<ion-header mode="ios">
  <ion-toolbar>

    <ion-label>حسابي</ion-label>
  </ion-toolbar>

</ion-header>
<ion-content>
  <div class="container">

    <div class="items">
      <!-- <ion-item class="animate__animated delay1-4 animate__fadeIn" lines="none" button>
        <ion-img src="../../../assets/images/menu/category.svg" alt=""></ion-img>
        <ion-label>تسجيل الخروج</ion-label>
      </ion-item> -->
      <ion-item class="animate__animated delay1-4 animate__fadeIn" lines="none" button (click)="nav('profile')">
        <ion-img src="../../../assets/images/menu/category.svg" alt=""></ion-img>
        <ion-label>الحساب</ion-label>
      </ion-item>

      <ion-item class="animate__animated delay1-4 animate__fadeIn" lines="none" button (click)="nav('category')">
        <ion-img src="../../../assets/images/menu/Group 14183.svg" alt=""></ion-img>

        <ion-label>الأقسام</ion-label>
      </ion-item>

      <ion-item class="animate__animated delay1-4 animate__fadeIn" lines="none" button (click)="nav('orders')">
        <ion-img src="../../../assets/images/menu/Icon feather-shopping-bag.svg" alt=""></ion-img>
        <ion-label>طلباتي</ion-label>
      </ion-item>


      <ion-item class="animate__animated delay1-4 animate__fadeIn" lines="none" button (click)="nav('balance-account')">
        <ion-img src="../../../assets/images/menu/Group 14183.svg" alt=""></ion-img>
        <ion-label>كشف حساب</ion-label>
      </ion-item>

      <ion-item class="animate__animated delay1-4 animate__fadeIn" lines="none" button>
        <ion-img src="../../../assets/images/menu/Icon ionic-ios-help-circle-outline.svg" alt=""></ion-img>
        <ion-label>مساعدة</ion-label>
      </ion-item>


      <ion-item class="animate__animated delay1-4 animate__fadeIn" lines="none" button>
        <ion-img src="../../../assets/images/menu/list-ads.svg" alt=""></ion-img>
        <ion-label>الشروط والأحكام</ion-label>
      </ion-item>

      <ion-item class="animate__animated delay1-4 animate__fadeIn" lines="none" button>
        <ion-img src="../../../assets/images/menu/out.svg" alt=""></ion-img>
        <ion-label>تسجيل الخروج</ion-label>
      </ion-item>

    </div>

  </div>
</ion-content>