<ion-header mode="ios">
  <ion-toolbar>
    <div (click)="back()" slot="start" class="start ion-activatable">
      <ion-img src="../../../assets/images/back.png"></ion-img>
      <ion-ripple-effect type="bounded"></ion-ripple-effect>
    </div>
    <div class="search">
      <ion-img src="../../../assets/images/category/search.svg"></ion-img>
      <ion-input placeholder="البحث عن منتج"></ion-input>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container animate__animated animate__fadeIn">
    <div class="all">
      <div class="contain">
        <swiper-container #swiper [slidesPerView]="1" [spaceBetween]="0" [autoplay]="true" [loop]="true"
          direction="horizontal" [pagination]="{clickable:true,dynamicBullets:true}">

          <swiper-slide *ngFor="let img of photos">
            <img [src]="img?.IMAGE_PATH_ONLINE" />
            <div class="download" (click)="showActionSheet(img?.IMAGE_PATH_ONLINE)">
              <!-- <a href="{{img?.IMAGE_PATH_ONLINE}}" download="{{img?.IMAGE_PATH_ONLINE}}"> -->
              <ion-icon name="download-outline">
              </ion-icon>
              <!-- </a> -->
            </div>
          </swiper-slide>

        </swiper-container>
        <!-- <div class="fav">
          <ion-img src="../../../assets/images/home/like.svg"></ion-img>
        </div> -->

      </div>
      <!--  -->
      <h2 class="head">{{product?.ITEM_NAME}}</h2>
      <!--  -->
      <p class="description">{{product?.ITEM_NOTE}}

        <ion-button slot="end" fill="clear" (click)="copy()">
          <ion-icon name="copy-outline"></ion-icon>
        </ion-button>
      </p>
      <!--  -->
      <!-- <div class="descount">
        <div class="percent">% <span>15</span>خصم</div>
        <div class="del">50,000</div>
      </div> -->
      <!--  -->
      <div class="price">
        <!-- <span>سعر الشراء :</span> -->
        <span>{{product?.PRICE_SALE_1 |number}} <span>د.ع</span></span>
        <span class="share" (click)="share()">
          مشاركة
          <img src="../../../assets/Icon awesome-angle-double-left.svg" alt="">
        </span>
      </div>
      <div class="customer-price">
        <!-- <h2>سعر الزبون :</h2> -->
        <div class="contain">
          <div class="low">
            <p>اقل سعر بيع</p>
            <h2>{{product?.PRICE_SALE_2 |number}}<span>د.ع</span></h2>
          </div>
          <div class="hight">
            <p>اعلي سعر بيع</p>
            <h2>{{product?.PRICE_SALE_3 |number }}<span>د.ع</span></h2>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="btns">
        <div class="one">
          <div class="increase ion-activatable" (click)="increse()">
            <ion-img src="../../../assets/images/high.svg"></ion-img>
            <ion-ripple-effect type="bounded"></ion-ripple-effect>
          </div>
          <span>{{QTY}}</span>
          <div class="decrease ion-activatable" (click)="decrese()">
            <ion-img src="../../../assets/images/low.svg"></ion-img>
            <ion-ripple-effect type="bounded"></ion-ripple-effect>
          </div>

        </div>
        <ion-button expand="block" *ngIf="!product?.addedToCart" (click)="addItem(product)">إضافة للسلة</ion-button>
        <ion-button expand="block" *ngIf="product?.addedToCart" (click)="updateQty(product)">تعديل الكمية</ion-button>
      </div>
    </div>
    <!--  -->
    <div class="title">منتجات مشابهة</div>
    <!--  -->
    <div class="products">
      <div class="product" *ngFor="let product of products;let i=index">
        <div class="fav">
          <ion-img (click)="toggleFav(product)"
            [src]="product.favorite ? '../../../assets/images/home/like_act.svg' :'../../../assets/images/home/like.svg'"></ion-img>
          <!-- <ion-img src="../../../assets/images/like_act.svg"></ion-img> -->
        </div>
        <div class="img" (click)="details(product)">
          <img [defaultImage]="'../../../assets/shopping-loader.gif'" [lazyLoad]="product?.IMG_URL"
            [errorImage]="'../../../assets/shopping-loader.gif'" />
        </div>
        <div class="text">
          <p class="name">{{product?.ITEM_NAME}}</p>
          <div class="note">
            <p>{{product?.ITEM_NOTE}} </p>

          </div>
          <div class="price">
            <p>سعر الجملة</p>
            <div>
              <h2>{{product?.PRICE_SALE_1 |number}}</h2>
              <span>دع</span>
            </div>
          </div>
          <div class="price">
            <p>سعر البيع</p>
            <div>
              <h2>{{product?.PRICE_SALE_2 |number}}</h2>
              <span>دع</span>
            </div>
          </div>
          <ion-button *ngIf="!product?.addedToCart" expand="block" fill="outline" (click)="addItem(product)">إضافة
            للسلة</ion-button>
          <ion-button *ngIf="product?.addedToCart" expand="block" fill="outline" disabled>مضاف للسلة</ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>