<!-- <ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header> -->
<ion-content>
  <div class="container">
    <div class="head">هل تريد حذف هذا المنتج</div>
    <!--  -->
    <div class="item">
      <div class="img"><ion-img [src]="item?.IMG_URL"></ion-img></div>
      <div class="content">
        <div class="text">
          <p>{{item.ITEM_NAME}}</p>
          <h2>{{item.PRICE_SALE_1 |number}}<span>د.ع</span></h2>
        </div>
      </div>
    </div>
    <div class="btns">
      <ion-button (click)="dismiss(false)">إلغاء</ion-button>
      <ion-button (click)="dismiss(true)">حذف</ion-button>
    </div>
  </div>
</ion-content>