<!-- <ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header> -->
<ion-content>
  <div class="container">
    <div class="head">هل تريد حذف هذا المنتج</div>
    <!--  -->
    <div class="item">
      <div class="img"><ion-img src="../../../assets/images/home/phto1-1.png"></ion-img></div>
      <div class="content">
        <div class="text">
          <p>هاتف سمارت 6 ثنائي الشريحة بذاكرة رام سعة </p>
          <h2>{{352342 |number}}<span>د.ع</span></h2>
        </div>
      </div>
    </div>
    <div class="btns">
      <ion-button (click)="dismiss(false)">إلغاء</ion-button>
      <ion-button (click)="dismiss(true)">حذف</ion-button>
    </div>
  </div>
</ion-content>