<ion-header mode="ios">
  <ion-toolbar>
    <div (click)="back()" slot="start" class="ion-activatable">
      <ion-img src="../../../assets/images/back.png"></ion-img>
      <ion-ripple-effect type="bounded"></ion-ripple-effect>
    </div>
    <ion-label>حسابي</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="image">
    <img src="../../../assets/images/Ellipse 18.png" alt="">
    <p>محمد علاء سعفان</p>
  </div>

  <div class="info">
    <div class="line">
      <p class="start">
        رقم الهاتف
      </p>
      <p class="end">
        +964 773 228 4555
      </p>
    </div>
    <div class="line">
      <p class="start">
        العنوان
      </p>
      <p class="end">
        بغداد - شارع البر بجوار صيدلية علي
      </p>
    </div>
    <ion-button expand="block" color="danger" fill="outline">
      <img src="../../../assets/images/Icon feather-user-x.svg">


      حذف الحساب

    </ion-button>
  </div>
</ion-content>