<ion-header mode="ios">
  <ion-toolbar>
    <div (click)="back()" slot="start" class="ion-activatable">
      <ion-img src="../../../assets/images/back.png"></ion-img>
      <ion-ripple-effect type="bounded"></ion-ripple-effect>
    </div>
    <ion-label>حسابي</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="image">
    <div class="profile-img">
      <div class="pic">

        <img [lazyLoad]="image?.data || userData?.image ||'../../../assets/images/userplaceholder.png'"
          [errorImage]="'../../../assets/images/userplaceholder.png'" alt="">
      </div>
      <div class="edit" (click)="selectImage()">
        <img src="../../../assets/images/edit.svg" alt="">
      </div>
    </div>
    <p>{{userData?.displayName ??'....'}}</p>
  </div>

  <div class="info">
    <div class="line">
      <p class="start">
        رقم الهاتف
      </p>
      <p class="end">
        {{userData?.phone}}
      </p>
    </div>
    <div class="line">
      <p class="start">
        كود التفعيل
      </p>
      <p class="end">
        {{userData?.code}}
      </p>
    </div>
    <ion-button class="ion-margin-bottom" expand="block" color="primary" fill="solid" (click)="submit()">
      <!-- <img src="../../../assets/images/Icon feather-user-x.svg"> -->
      حفظ
    </ion-button>
    <ion-button expand="block" color="danger" fill="outline">
      <img src="../../../assets/images/Icon feather-user-x.svg">
      حذف الحساب
    </ion-button>
  </div>
</ion-content>