<ion-tabs>
  <ion-tab-bar slot="bottom,top">
    <ion-tab-button tab="home">
      <ion-img src="../../../assets/images/home/home-house.4.svg" alt=""></ion-img>
      <ion-label>الرئيسية</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="fav">
      <ion-img src="../../../assets/images/home/heart.svg" alt=""></ion-img>
      <ion-label>المفضلة</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="offers">
      <ion-img src="../../../assets/images/home/offer.svg" alt=""></ion-img>
      <ion-label>العروض</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="cart">
      <ion-img src="../../../assets/images/home/cart.svg" alt=""></ion-img>
      <ion-label>السلة</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="account">
      <ion-img src="../../../assets/images/home/person.svg" alt=""></ion-img>
      <ion-label>حسابي</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>