@import "../../../../shared/mixins.scss";
ion-header {
  ion-toolbar {
    padding-top: 8px;
    div[slot="start"] {
      position: relative;
      overflow: hidden;
      color: var(--light-text);
      @include flex(center, center, 0);
      @include size(32, 32);
      border-radius: 50%;
      border: 1px solid #f3f4f5;
      margin-left: 16px;
    }
    ion-label {
      @include text(var(--dark-text), 20, "bold", 30);
    }
    ion-button {
      --padding-start: 0;
      --padding-end: 0;
      @include size(60, 35);
      ion-icon {
        font-size: 1.7rem;
      }
    }
  }
}

.container {
  padding: 16px 16px 80px;
}

ion-label {
  @include text(var(--light-text), 15, "semi-bold", 18);
}

ion-item,
textarea {
  margin: 6px 0 18px;
  border: 1px solid #cdcdcdc0;
  border-radius: 12px;
}

ion-input,
ion-select,
textarea {
  @include text(var(--dark-text), 16, "semi-bold", 18);
}
ion-select {
  flex: 1;
}

textarea {
  display: block;
  width: 100%;
  padding: 12px;
  &::placeholder {
    color: #80808086;
  }
  &:focus {
    outline: none;
  }
  caret-color: var(--ion-color-primary);
  background: transparent;
  min-height: 80px;
}

ion-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background: white;
  box-shadow: 0 -1px 8px 0 #0825371a;
  padding: 12px 16px 15px;
  ion-button {
    --border-radius: 8px;
    height: 48px;
    @include text(white, 14, "bold", 27);
  }
}
