<ion-header mode="ios">
  <ion-toolbar>
    <div (click)="back()" slot="start" class="start ion-activatable">
      <ion-img src="../../../assets/images/back.png"></ion-img>
      <ion-ripple-effect type="bounded"></ion-ripple-effect>
    </div>
    <ion-label>طلباتي</ion-label>

  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.8" pullMin="60" pullMax="120">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="container">
    <ion-segment mode="ios" [ngModel]="orderStatus" (ionChange)="change($event)">
      <ion-segment-button [value]="0">
        <ion-label>انتظار</ion-label>
      </ion-segment-button>
      <ion-segment-button [value]="1">
        <ion-label>قبول</ion-label>
      </ion-segment-button>
      <ion-segment-button [value]="2">
        <ion-label>رفض</ion-label>
      </ion-segment-button>
    </ion-segment>


    <div class="items">
      <div class="p-item animate__animated delay1-{{i+1}}"
        [ngClass]="i%2? 'animate__fadeInLeft' : 'animate__fadeInRight'" *ngFor="let bill of bills;let i=index">
        <!-- <p>رقم الفاتورة</p> -->
        <div class="item one">
          <div class="start">#{{ bill?.T_ID }}</div>
          <div class="end">{{ bill?.D_TIME |date:'d/MM/yyyy hh:mm a' }}</div>
        </div>

        <div class="item">
          <div class="start">اسم الزبون</div>
          <div class="end">{{bill?.CLIENT_NAME}}</div>
        </div>
        <div class="item">
          <div class="start">عدد المنتجات</div>
          <div class="end">{{bill?.DETAILS.length}}</div>
        </div>
        <div class="item">
          <div class="start">رقم الهاتف</div>
          <div class="end">{{bill?.CLIENT_PHONE}}</div>
        </div>
        <div class="item">
          <div class="start">العنوان</div>
          <div class="end">{{bill?.CLIENT_ADDRESS}}</div>
        </div>
        <div class="item">
          <div class="start">سعر البيع</div>
          <div class="end">{{bill?.INFO?.TOTAL|number}}</div>
        </div>
        <div class="item end">
          <div class="start">اجور التوصيل</div>
          <div class="end color">{{bill?.INFO.DELIVERYCOST |number}}</div>
        </div>
        <ion-button expand="block" (click)="details(bill)">فتح</ion-button>

      </div>
    </div>
  </div>


  <div *ngIf="emptyView" class="empty">
    <div class="content">
      <ion-icon name="happy-outline"></ion-icon>
      <ion-text color="medium">
        <p>لا يوجد طلبات</p>
      </ion-text>
    </div>
  </div>
</ion-content>