<ion-header>
  <ion-toolbar>
    <ion-button slot="start" shape="round" fill="clear" (click)="nav('notification')">
      <img src="../../../assets/images/home/menu.svg" alt="">
    </ion-button>
    <ion-item lines="none">
      <img src="../../../assets/images/logo-small.png" alt="">
      <ion-input mode="ios" type="text" name="search" id="" placeholder="البحث عن منتج" (ionInput)="search($event)"
        [(ngModel)]="searchQuery" (ionBlur)="searchQuery = ''"></ion-input>
      <ion-icon slot="end" name="close" (click)="searchQuery ='';searchList=[]"></ion-icon>
    </ion-item>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="searchList.length" class="searchList" style="max-height: 300px;overflow-y: scroll;z-index: 999;">
    <ion-item *ngFor="let item of searchList;let i = index" class="animate__animated animate__fadeIn"
      (click)="details(item);searchList =[]">
      <ion-avatar slot="start">
        <img [defaultImage]="'../../../assets/shopping-loader.gif'" [lazyLoad]="item.IMG_URL"
          [errorImage]="'../../../assets/shopping-loader.gif'" />
      </ion-avatar>
      <ion-label>{{ item?.ITEM_NAME }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.8" pullMin="60" pullMax="120">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="segmentContainer">
    <div class="box" [class.active]="activeCat ==null" (click)="activeCat=null;getItems()">
      <p>الكل</p>
    </div>
    <div class="box" *ngFor="let cat of categories" [class.active]="activeCat ==cat?.CATEGORY_CODE"
      (click)="changeCategory(cat)">
      <p>{{cat?.CATEGORY_NAME}}</p>
    </div>

  </div>
  <swiper-container #swiper [slidesPerView]="1" [spaceBetween]="0" [autoplay]="true" [loop]="true"
    direction="horizontal" [pagination]="{clickable:true,dynamicBullets:true}">
    <swiper-slide *ngFor="let slide of slides" (click)="slideClick(slide)">
      <img [src]="dataService.baseUrl +'/'+ slide?.IMAGE_PATH_ONLINE" alt="">
    </swiper-slide>
    <!--
    <swiper-slide>
      <img src="../../../assets/images/home/offer_slider.png" alt="">
    </swiper-slide> -->
  </swiper-container>
  <div class="adds scroll-left">
    <p> {{add??'إعلان نصي داخل التطبيق قابل للتغيير'}} </p>
  </div>
  <!-- <div class="container">
    <div class="title animate__animated animate__fadeIn">
      <h2>الأقسام</h2>
      <ion-button fill="clear" (click)="nav('/tabs/category')">عرض الكل</ion-button>
    </div>
  </div>
  <div class="categories animate__animated animate__fadeIn">
    <div class="item" *ngFor="let item of categories">
      <div class="img">
        <ion-img src="../../../assets/images/home/blue-t-shirt.png"></ion-img>
      </div>
      <p>الكترونيات</p>
    </div>
  </div> -->
  <!-- <div class="container"> -->
  <div class="title animate__animated animate__fadeIn">
    <h2>أحدث المنتجات</h2>
    <!-- <ion-button fill="clear" (click)="nav('/tabs/pages/category')">عرض الكل</ion-button> -->
  </div>
  <div class="itemsSlide">
    <div class="loading-slide" *ngIf="featProductLoading">
      <ion-spinner name="bubbles"></ion-spinner>
    </div>
    <div class="loading-slide" *ngIf="featProductEmpty">
      <p>لا يوجد منتجات بهذا القسم حاليا</p>
    </div>
    <div class="product animate__animated animate__zoomIn"
      *ngFor="let product of featProducts;let i=index;trackBy:trackFn">
      <div *ngIf="i+1 != featProducts.length">

        <div class="fav">
          <ion-img (click)="toggleFav(product)"
            [src]="product.favorite ? '../../../assets/images/home/like_act.svg' :'../../../assets/images/home/like.svg'"></ion-img>
        </div>
        <div class="img" (click)="details(product)">
          <img [defaultImage]="'../../../assets/shopping-loader.gif'" [lazyLoad]="product?.IMG_URL"
            [errorImage]="'../../../assets/shopping-loader.gif'" />
        </div>
        <div class="text">
          <!-- <p class="name">{{product?.ITEM_NAME}}</p> -->
          <div class="note">
            <p>{{product?.ITEM_NAME}} </p>
          </div>
          <div class="price">
            <p>سعر الجملة</p>
            <div>
              <h2>{{product?.PRICE_SALE_1 |number}}</h2>
              <span>دع</span>
            </div>
          </div>
          <div class="price">
            <p>سعر البيع</p>
            <div>
              <h2>{{product?.PRICE_SALE_2 |number}} - {{product?.PRICE_SALE_3 |number}}</h2>
              <span>دع</span>
            </div>
          </div>
          <ion-button *ngIf="!product?.addedToCart" expand="block" fill="outline" (click)="addItem(product)">إضافة
            للسلة</ion-button>
          <ion-button *ngIf="product?.addedToCart" expand="block" fill="outline" disabled>مضاف للسلة</ion-button>

          <!-- <ion-button *ngIf="product.addedToCart" expand="block" fill="outline" disabled>مضاف للسلة</ion-button> -->
        </div>

      </div>
      <div *ngIf="i+1 === featProducts.length" #theLastItem>

        <div class="fav">
          <ion-img (click)="toggleFav(product)"
            [src]="product.favorite ? '../../../assets/images/home/like_act.svg' :'../../../assets/images/home/like.svg'"></ion-img>
        </div>
        <div class="img" (click)="details(product)">
          <img [defaultImage]="'../../../assets/shopping-loader.gif'" [lazyLoad]="product?.IMG_URL"
            [errorImage]="'../../../assets/shopping-loader.gif'" />
        </div>
        <div class="text">
          <!-- <p class="name">{{product?.ITEM_NAME}}</p> -->
          <div class="note">
            <p>{{product?.ITEM_NAME}} </p>
          </div>
          <div class="price">
            <p>سعر الجملة</p>
            <div>
              <h2>{{product?.PRICE_SALE_1 |number}}</h2>
              <span>دع</span>
            </div>
          </div>
          <div class="price">
            <p>سعر البيع</p>
            <div>
              <h2>{{product?.PRICE_SALE_2 |number}} - {{product?.PRICE_SALE_3 |number}}</h2>
              <span>دع</span>
            </div>
          </div>
          <ion-button *ngIf="!product?.addedToCart" expand="block" fill="outline" (click)="addItem(product)">إضافة
            للسلة</ion-button>
          <ion-button *ngIf="product?.addedToCart" expand="block" fill="outline" disabled>مضاف للسلة</ion-button>

          <!-- <ion-button *ngIf="product.addedToCart" expand="block" fill="outline" disabled>مضاف للسلة</ion-button> -->
        </div>

      </div>
    </div>
    <!-- <div class="product animate__animated animate__zoomIn next"
      *ngIf="!categoryProductEmpty && !categoryProductLoading && maxPageCategory >skipCategoryProducts"
      (click)="loadCategoryData()">
      <p>عرض المزيد</p>
    </div> -->

  </div>
  <div class="title animate__animated animate__fadeIn">
    <h2>المنتجات</h2>
    <!-- <ion-button fill="clear" (click)="nav('/tabs/pages/category')">عرض الكل</ion-button> -->
  </div>
  <div class="container">

    <div class="offers animate__animated animate__fadeIn">
      <div class="offer" *ngFor="let product of products;let i=index">
        <div class="fav">
          <ion-img (click)="toggleFav(product)"
            [src]="product.favorite ? '../../../assets/images/home/like_act.svg' :'../../../assets/images/home/like.svg'"></ion-img>
        </div>
        <!-- <div class="discount">% <span>15</span>خصم</div> -->
        <!--  -->
        <div class="img" (click)="details(product)">
          <img [defaultImage]="'../../../assets/shopping-loader.gif'" [lazyLoad]="product?.IMG_URL"
            [errorImage]="'../../../assets/shopping-loader.gif'">
        </div>
        <div class="text">
          <p class="name">{{product?.ITEM_NAME}}</p>
          <div class="note">
            <p>{{product?.ITEM_NOTE}} </p>
          </div>
          <div class="price">
            <p>سعر الجملة</p>
            <div>
              <h2>{{product?.PRICE_SALE_1 |number }}</h2>
              <span>دع</span>
            </div>
          </div>
          <div class="price">
            <p>سعر البيع</p>
            <div>
              <h2>{{product?.PRICE_SALE_2 |number }}</h2>
              <span>دع</span>
            </div>
          </div>
          <ion-button *ngIf="!product?.addedToCart" expand="block" fill="outline" (click)="addItem(product)">إضافة
            للسلة</ion-button>
          <div *ngIf="product?.addedToCart" class="btn">
            <div class="ion-activatable" (click)="decrese(product)">
              <ion-img src="../../../assets/images/low.svg"></ion-img>
              <ion-ripple-effect type="bounded"></ion-ripple-effect>
            </div>
            <span>{{product?.QTY}}</span>
            <div class="ion-activatable white" (click)="increse(product)">
              <ion-img src="../../../assets/images/high.svg"></ion-img>
              <ion-ripple-effect type="bounded"></ion-ripple-effect>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="itemsSlide" #itemsSlide>
    <div class="product animate__animated animate__zoomIn" *ngFor="let product of products;let i=index;trackBy:trackFn">
      <div>

        <div class="fav">
          <ion-img (click)="toggleFav(product)"
            [src]="product.favorite ? '../../../assets/images/home/like_act.svg' :'../../../assets/images/home/like.svg'"></ion-img>
        </div>
        <div class="img" (click)="details(product)">
          <img [defaultImage]="'../../../assets/shopping-loader.gif'" [lazyLoad]="product?.IMG_URL"
            [errorImage]="'../../../assets/shopping-loader.gif'" />
        </div>
        <div class="text">
          <div class="note">
            <p>{{product?.ITEM_NAME}} </p>
          </div>
          <div class="price">
            <p>سعر الجملة</p>
            <div>
              <h2>{{product?.PRICE_SALE_1 |number}}</h2>
              <span>دع</span>
            </div>
          </div>
          <div class="price">
            <p>سعر البيع</p>
            <div>
              <h2>{{product?.PRICE_SALE_2 |number}} - {{product?.PRICE_SALE_3 |number}}</h2>
              <span>دع</span>
            </div>
          </div>
          <ion-button *ngIf="!product?.addedToCart" expand="block" fill="outline" (click)="addItem(product)">إضافة
            للسلة</ion-button>
          <ion-button *ngIf="product?.addedToCart" expand="block" fill="outline" disabled>مضاف للسلة</ion-button>

        </div>
      </div>


    </div>

  </div> -->
  <div *ngIf="loading" class="loading">
    <ion-spinner></ion-spinner>
  </div>
  <ion-infinite-scroll threshold="25%" position="bottom" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <div *ngIf="errorView" class="error">
    <div class="content">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <ion-text color="medium">
        <p>خطأ بالشبكة يرجي المحاولة لاحقاً</p>
      </ion-text>
    </div>
  </div>
</ion-content>