<ion-header mode="ios">
  <ion-toolbar>
    <div (click)="back()" slot="start" class="start ion-activatable">
      <ion-img src="../../../assets/images/back.png"></ion-img>
      <ion-ripple-effect type="bounded"></ion-ripple-effect>
    </div>
    <ion-label>تفاصيل الطلب</ion-label>

  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="container">
    <div class="items">
      <div class="p-item ">
        <div class="item one">
          <div class="start">
            <img src="../../../assets/Group 14183.svg" alt=""> #{{ bill?.T_ID }}
          </div>
          <div class="end">{{ bill?.D_TIME |date:'d/MM/yyyy hh:mm a' }}</div>
        </div>

        <div class="item">
          <div class="start">اسم الزبون</div>
          <div class="end">{{bill?.CLIENT_NAME}}</div>
        </div>
        <div class="item">
          <div class="start">عدد المنتجات</div>
          <div class="end">{{bill?.DETAILS.length}}</div>
        </div>
        <div class="item">
          <div class="start">رقم الهاتف</div>
          <div class="end">{{bill?.CLIENT_PHONE}}</div>
        </div>
        <div class="item">
          <div class="start">العنوان</div>
          <div class="end">{{bill?.CLIENT_ADDRESS}}</div>
        </div>

      </div>
    </div>
    <h2>المنتجات</h2>
    <div class="itemsSlide">
      <div class="product animate__animated animate__zoomIn" *ngFor="let product of items;let i=index">

        <div class="img">
          <img [defaultImage]="'../../../assets/shopping-loader.gif'" [lazyLoad]="product?.IMG_URL"
            [errorImage]="'../../../assets/shopping-loader.gif'" />
        </div>
        <div class="text">
          <div class="note">
            <p>{{product?.ITEM_NAME}} </p>
          </div>
          <div class="price">
            <p>السعر</p>
            <div>
              <h2>{{product?.PRICE_SALE_1 |number}}</h2>
              <span>دع</span>
            </div>
          </div>

        </div>
      </div>
    </div>
    <h2>تفاصيل الدفع</h2>
    <div class="items">
      <div class="p-item ">


        <div class="item">
          <div class="start">طريقة الدفع</div>
          <div class="end">{{"دفع عند الاستلام"}}</div>
        </div>
        <div class="item">
          <div class="start">المنتجات</div>
          <div class="end">{{bill?.INFO.TOTAL |number}}</div>
        </div>
        <div class="item ">
          <div class="start">التوصيل</div>
          <div class="end ">{{bill?.INFO.DELIVERYCOST |number}}</div>
        </div>
        <div class="item">
          <div class="start">الخصم</div>
          <div class="end">{{bill?.INFO.TOTAL_DISCOUNT |number}}</div>
        </div>
        <div class="item">
          <div class="start">المطلوب</div>
          <div class="end">{{(bill?.INFO.TOTAL + bill?.INFO.DELIVERYCOST -bill?.INFO.TOTAL_DISCOUNT)|number}}</div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="container">
    <h1>رقم الفاتورة # {{BILL_NUMBER}}</h1>
    <div class="head animate__animated animate__fadeIn">
      <div class="start">({{items.length}}) منتج</div>
    </div>


    <div class="items animate__animated animate__fadeIn">
      <div class="item" *ngFor="let item of items;let i=index">
        <div class="img"><ion-img [src]="item?.IMG_URL"></ion-img></div>
        <div class="content">
          <div class="text">
            <p>{{item?.ITEM_NAME}}</p>
            <h2>{{(item?.TOTAL_MANDOOB_ITEM + item.TOTAL) |number}}<span>د.ع</span></h2>
            <div class="operations">
              <!-- <div class="increase ion-activatable">
                      <ion-img src="../../../assets/images/increase.svg"></ion-img>
                      <ion-ripple-effect type="bounded"></ion-ripple-effect>
                    </div> -->
              <!-- الكميه -->
              <div class="qty">الكميه {{item.QTY}}</div>

              <!-- <div class=" decrease ion-activatable">
                      <ion-img src="../../../assets/images/decrease.svg"></ion-img>
                      <ion-ripple-effect type="bounded"></ion-ripple-effect>
                    </div> -->
            </div>
          </div>
          <!-- <div class="delete ion-activatable" *ngIf="item.ITEM_CODE != -1" (click)="return(item)">
              <ion-img src="../../../assets/images/delete.png"></ion-img>
              <p>استرجاع</p>
              <ion-ripple-effect type="bounded"></ion-ripple-effect>
            </div> -->
        </div>
      </div>
    </div>
  </div>

</ion-content>