<ion-header mode="ios">
  <ion-toolbar>
    <div (click)="back()" slot="start" class="start ion-activatable">
      <img src="../../../assets/images/back.png" alt="">
      <ion-ripple-effect type="bounded"></ion-ripple-effect>
    </div>
    <ion-label>كشف حساب</ion-label>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.8" pullMin="60" pullMax="120">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="container">
    <div class="items">

      <!-- <ion-item class="animate__animated delay1-1 animate__fadeInLeft" lines="none" button>
        <ion-img src="../../../assets/imags/market/message.svg"></ion-img>
        <ion-label>
          <h1></h1>
        </ion-label>
      </ion-item> -->
      <div class="welcome">
        <p>اهلا بك</p>
        <h3>{{authService.userData.MANDOOB_NAME}}</h3>
      </div>
      <ion-item class="animate__animated delay1-5 animate__fadeIn" style="    border: 1px solid #ccc;
          box-shadow: 0px 4px 6px #eee;" lines="none" button (click)="nav('tabs/sales-list')">
        <ion-label>قائمة الطلبات قيد الموافقة</ion-label>
      </ion-item>
      <div class="myHead animate__animated delay1-2 animate__fadeIn">
        <h1>
          {{dataCount?.balance * -1 |number}} <sub> د.ع </sub> </h1>
        <p>رصيدك الحالي</p>
      </div>

      <div class="categories">
        <div class="item animate__animated animate__fadeIn" (click)="countList({SHIP_CODE:1})">
          <div class="img">
            <img src="../../../assets/images/bill/Group 60688-1.svg" />
            <h4>{{dataCount?.watingCount|number}} طلب</h4>

          </div>
          <h2>{{dataCount?.watingSum |number
            }}
            د.ع</h2>
          <p>تم التدقيق</p>

        </div>
        <div class="item animate__animated animate__fadeIn" (click)="countList({SHIP_CODE:2})">
          <div class="img">
            <img src="../../../assets/images/bill/Group 60688-2.svg" />
            <h4>{{dataCount?.deliverdCount|number}} طلب</h4>
          </div>
          <h2>{{dataCount?.deliverdSum |number}} د.ع</h2>
          <p>تم الشحن</p>
        </div>
        <div class="item animate__animated animate__fadeIn" (click)="countList({IVC_CODE:10})">
          <div class="img">
            <img src="../../../assets/images/bill/Group 60688.svg" />
            <h4>{{dataCount?.returnCount|number}} طلب</h4>

          </div>
          <h2>{{dataCount?.returnSum |number}} د.ع</h2>
          <p>طلبات راجعة</p>
        </div>
        <div class="item animate__animated animate__fadeIn">
          <div class="img">
            <img src="../../../assets/images/bill/Group 60694.svg" />
            <h4>{{0|number}} طلب</h4>
          </div>
          <h2 [style]="dataCount?.money >0 ?'color:var(--ion-color-primary)':'color:var(--ion-color-danger)'">
            {{dataCount?.money |number}} د.ع</h2>
          <p>الارباح</p>
        </div>

      </div>
      <div class="myHead animate__animated delay1-2 animate__fadeIn" style="background: #ccc;">
        <h1>
          {{dataCount?.recivedCash|number}} <sub> د.ع </sub> </h1>
        <p style="color: #000;">المبالغ المستلمة</p>
      </div>

      <!-- error View && Loading  -->

    </div>
  </div>
</ion-content>