<ion-header mode="ios">
  <ion-toolbar>
    <div (click)="back()" slot="start" class="ion-activatable">
      <ion-img src="../../../assets/images/back.png"></ion-img>
      <ion-ripple-effect type="bounded"></ion-ripple-effect>
    </div>
    <ion-label>إكمال الطلب</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container animate__animated animate__fadeIn">
    <div class="title">أدخل سعر الزبون</div>

    <div class="items">

      <div *ngFor="let item of items">
        <div class="product">
          <img [src]="item?.IMG_URL">
          <div class="content">
            <p>{{item?.ITEM_NAME}}</p>
            <div>
              <div class="price">{{item?.PRICE_SALE_1 |number}}<span>د.ع</span></div>
              <div class="qty">{{item?.QTY}}<span>منتجات</span></div>
            </div>
            <p class="gift">
              <ion-checkbox (ionChange)="sendAsGift($event,item);checkValid()"></ion-checkbox>
              <ion-label>ارسال كهديه</ion-label>
            </p>
          </div>
        </div>

        <ion-label>سعر الذبون</ion-label>

        <ion-item
          [class.invalid]="item.price > item.PRICE_SALE_3 || item.price < item.PRICE_SALE_2 && item.price != null"
          mode="md" lines="none">
          <ion-input [disabled]="item.gift" type="number" [(ngModel)]="item.price"
            (ngModelChange)="calcTotal();checkValid()"
            placeholder="نطاق السعر ( {{item.PRICE_SALE_2 |number}} - {{item.PRICE_SALE_3 |number}})"></ion-input>
          <div slot="end">
            <div class="qty">{{item.QTY}}x</div>
            <div *ngIf="item.price " class="total">{{item.price*item.QTY | number}}<span>د.ع</span></div>
          </div>
        </ion-item>

        <div class="note"
          *ngIf="item.price > item.PRICE_SALE_3 || item.price < item.PRICE_SALE_2 && item.price != null && !item.gift">
          <span>يجب
            إدخال سعر أعلى من
            {{item.PRICE_SALE_2??'الحد الأدنى'}} و أقل من {{item.PRICE_SALE_3??'الحد الأعلى'}} </span>
        </div>


      </div>

    </div>
    <h2 class="title_methods">التوصيل</h2>
    <div class="methods">

      <div *ngFor="let item of shiping" [class.active]="selected?.REGION_CODE == item?.REGION_CODE">
        <div (click)="selected = item">
          <h2>{{item?.REGION_NAME}}</h2>
          <p> {{item?.REGION_SELL |number}} د.ع</p>
        </div>
      </div>

    </div>

    <div class="states">
      <p>تفاصيل السعر</p>
      <div><span>سعر الزبون الاجمالي</span> <span>{{clientPrice |number}} <span>د.ع</span></span></div>
      <div><span>سعر الشراء الفعلي</span> <span>{{totalPrice |number}} <span>د.ع</span></span></div>
      <div><span>التوصيل</span> <span>{{selected?.REGION_SELL||0 |number}}<span>د.ع</span></span></div>
      <div><span>الربح</span> <span>{{clientPrice -(totalPrice + selected?.REGION_SELL||0)|number}}
          <span>د.ع</span></span></div>
    </div>
  </div>

  <ion-footer class="animate__animated animate__fadeIn">
    <ion-button (click)="confirm()" [disabled]="disable ||! selected" expand="block">إستمر</ion-button>
  </ion-footer>

</ion-content>