<ion-header mode="ios">
  <ion-toolbar>
    <!-- <div (click)="back()" slot="start" class="start ion-activatable">
      <ion-img src="../../../assets/images/back.svg"></ion-img>
      <ion-ripple-effect type="bounded"></ion-ripple-effect>
    </div> -->
    <ion-label>العروض</ion-label>
  </ion-toolbar>
  <ion-toolbar>
    <div class="search">
      <ion-img src="../../../assets/images/category/search.svg"></ion-img>
      <ion-input placeholder="البحث عن منتج" [(ngModel)]='search_txt'></ion-input>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.8" pullMin="60" pullMax="120">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->
  <div class="container">
    <div class="offers animate__animated animate__fadeIn">
      <div class="offer" *ngFor="let product of items;let i=index">
        <div class="fav">
          <ion-img (click)="toggleFav(product)"
            [src]="product.favorite ? '../../../assets/images/home/like_act.svg' :'../../../assets/images/home/like.svg'"></ion-img>
        </div>
        <!-- <div class="discount">% <span>15</span>خصم</div> -->
        <!--  -->
        <div class="img" (click)="details(product)">
          <img [defaultImage]="'../../../assets/shopping-loader.gif'" [lazyLoad]="product?.IMG_URL"
            [errorImage]="'../../../assets/shopping-loader.gif'">
        </div>
        <div class="text">
          <p class="name">{{product?.ITEM_NAME}}</p>
          <div class="note">
            <p>{{product?.ITEM_NOTE}} </p>
          </div>
          <div class="price">
            <p>سعر الجملة</p>
            <div>
              <h2>{{product?.PRICE_SALE_1 |number }}</h2>
              <span>دع</span>
            </div>
          </div>
          <div class="price">
            <p>سعر البيع</p>
            <div>
              <h2>{{product?.PRICE_SALE_2 |number }}</h2>
              <span>دع</span>
            </div>
          </div>
          <ion-button *ngIf="!product?.addedToCart" expand="block" fill="outline">إضافة
            للسلة</ion-button>
          <div *ngIf="product?.addedToCart" class="btn">
            <div class="ion-activatable" (click)="decrese(product)">
              <ion-img src="../../../assets/images/low.svg"></ion-img>
              <ion-ripple-effect type="bounded"></ion-ripple-effect>
            </div>
            <span>{{product?.QTY}}</span>
            <div class="ion-activatable white" (click)="increse(product)">
              <ion-img src="../../../assets/images/high.svg"></ion-img>
              <ion-ripple-effect type="bounded"></ion-ripple-effect>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="emptyView" class="empty">
    <div class="content">
      <ion-icon name="happy-outline"></ion-icon>
      <ion-text color="medium">
        <p>لا يوجد منتجات</p>
      </ion-text>
    </div>
  </div>
  <div *ngIf="loading" class="loading">
    <ion-spinner></ion-spinner>
  </div>

  <div *ngIf="errorView" class="error">
    <div class="content">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <ion-text color="medium">
        <p>خطأ بالشبكة يرجي المحاولة لاحقاً</p>
      </ion-text>
    </div>
  </div>
</ion-content>