@import "../../../../shared/mixins.scss";
ion-header {
  ion-toolbar {
    padding-top: 8px;
    .start {
      position: relative;
      overflow: hidden;
      color: var(--light-text);
      @include flex(center, center, 0);
      @include size(40, 40);
      border-radius: 50%;
      border: 1px solid #f3f4f5;
      margin-left: 16px;
    }
    ion-label {
      @include text(var(--dark-text), 20, "bold", 38);
      text-align: center;
    }
    .end {
      position: relative;
      overflow: hidden;
      color: var(--light-text);
      @include flex(center, center, 0);
      @include size(32, 32);
      border-radius: 50%;
      border: 1px solid #f3f4f5;
    }
  }
  .search {
    padding: 4px 12px;
    border: 1px solid #f3f4f5;
    border-radius: 18px;
    @include flex(flex-start, center, 8);
    ion-mg {
      @include size(24, 24);
    }
    ion-input {
      @include text(var(--dark-text), 12, "regular", 27);
      --padding-top: 0;
      --padding-bottom: 0;
    }
  }
}

.container {
  padding: 16px;
}

.offers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
  .offer {
    position: relative;
    border: 1px solid #f3f4f5;
    border-radius: 8px;
    // height: 278px;
    padding: 3px 8px 0;
    .img {
      height: 110px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      margin-bottom: 8px;
    }
    .text {
      p {
        @include text(var(--dark-text), 12, "regular", 22);
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: break-spaces;
        overflow: hidden;
        min-height: 23px;
      }
      .name {
        font-family: "bold";
      }

      .price {
        @include flex(flex-start, center, 4);
        margin: 2px 0 6px;

        h2 {
          margin: 0;
          @include text(var(--dark-text), 16, "semi-bold", 31);
          font-family: "semi-bold";
        }
        span {
          @include text(var(--dark-text), 11, "semi-bold", 21);
        }
      }
      .price {
        // @include flex(flex-start, center, 4);
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 2px 0 6px;

        p {
          margin: 0;
          font-size: 12px;
        }
        div {
          display: flex;
          align-items: baseline;

          h2 {
            margin: 0;
            font-size: 16px;
            font-family: "bold";
            //   @include text(var(--dark-text), 16, "bold", 31);
          }
          span {
            font-size: 11px;
            //   @include text(var(--dark-text), 11, "regular", 21);
          }
        }
      }
    }
    ion-button {
      --border-width: 1px;
      --border-radius: 4px;
      height: 40px;
      font-size: 14px;
      font-family: "regular";
    }
    .btn {
      height: 40px;
      @include flex(space-between, center, 0);
      div {
        color: var(--ion-color-primary);
        position: relative;
        overflow: hidden;
        border-radius: 8px;
        ion-img {
          @include size(40, 40);
        }
        &.white {
          color: rgb(244, 231, 215);
        }
      }
      span {
        @include text(var(--dark-text), 20, "bold", 38);
      }
    }
    .fav {
      position: absolute;
      @include flex(center, center, 0);
      @include size(32, 32);
      border-radius: 50%;
      border: 1px solid #f3f4f5;
      top: 5px;
      left: 5px;
    }
    .discount {
      position: absolute;
      padding: 3px 6px 4px;
      right: 8px;
      top: 8px;
      @include size(55, 26);
      background: #fcecee;
      border-radius: 8px;
      @include text(var(--ion-color-danger), 10, "regular", 19);
      span {
        font-family: "bold";
        margin: 0 -2px 0 2px;
      }
    }
  }
}
